name: ROS2 CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: jazzy

      - name: Build and test
        run: |
          source /opt/ros/jazzy/setup.bash
          colcon build
          colcon test
          colcon test-result --verbose
